@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Water+Brush&family=Caveat&family=Architects+Daughter&display=swap');
:root{
    --primary-color:#C4DDFF;
    --secondary-color:#001D6E;
    --accent-color:#7FB5FF;
    --yellow-color:#FEE2C5;
    --font-water-brush:'Water Brush';
    --font-dancing-script:'Dancing Script';
    --font-caveat:'Caveat';
    --font-architect:'Architects Daughter';
}

body{
    background-color: var(--primary-color);
    color:var(--secondary-color)
}

.glass-card {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.28);
}